            <div class="span4">
              <div>
                <h2>
                  <%= book.title %>
                </h2>
                <p>
 <%= @book.description %>
                </p>
                <p>
  <b>Image url:</b>
  <%= @book.image_url %>
</p>

<p>
  <b>List price:</b>
  <%= @book.list_price %>
</p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>



