            <div class="span4">
              <div>
                <h4>
                  <%= book.title %>
                </h4>
                   <p>

   <%= image_tag book.image_url %>
</p>
                <p>
 <%= book.description %>
                </p>
             

<p>
  <b>List price:</b>
  <%= book.list_price %>
</p>
              </div>
              <a class="btn" href="#">
                buy »
              </a>
            </div>



