

    <div class="container-fluid">
      <div class="row">
        <div class="span10">

          <div>
            <h1>
              <strong>
                New Arriva&nbsp;
              </strong>
            </h1>
            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
              Use this document as a way to quick start any new project.&nbsp;
            </span>
            <br style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
              All you get is this message and a barebones HTML document.
            </span>
          </div>
   
          <div class="row-fluid">

<div class="customers"> 
      <%= paginate @books %>
  <%= render @books %>

</div>


          <div class="row-fluid">
           



          </div>
          <hr>

          <div>
            © JasBooks 2013
          </div>
          
        </div>



        <div class="span3">

      </div>


      <div class="row">
             <div class="span4">

        </div>

        </div>


      </div>

    </div>
  </div>
