    <div class="container-fluid">
      <div class="row">
        <div class="span10">
          <p id="notice"><%= notice %></p>
          <div>
            <h1>
              <strong>
                New Arriva&nbsp;
              </strong>
            </h1>
            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
              Use this document as a way to quick start any new project.&nbsp;
            </span>
            <br style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px;">
              All you get is this message and a barebones HTML document.
            </span>
          </div>
   
          <div class="row-fluid">

<div class="customers"> 
      <%= paginate @books %>
  <%= render @books %>

</div>


          <div class="row-fluid">
           

            <div class="span4">
              <div>
                <h2>
                  Heading
                </h2>
                <p>
                  Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
                  ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
                  sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
                  odio dui.
                </p>
              </div>
              <a class="btn" href="#">
                View details »
              </a>
            </div>

          </div>
          <hr>

          <div>
            © JasBooks 2013
          </div>
          
        </div>



        <div class="span3">
          <div class="well sidebar-nav">
<ul>
              <li class="nav-header">
                New
              </li>

             
              <li class="">
                <a href="#">
                the most Sucesful People
                </a>
              </li>
              <li class="">
                <a href="#">
                  3 Lean in
                </a>
              </li>
              <li class="">
                <a href="#">
                  4.&nbsp;
                </a>
              </li>
            </ul>

        </div>
      </div>

      <div>
        <p>
          Content
        </p>
      </div>
      <div class="row">
             <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <input name="textinput3" type="" placeholder="Search Book">
              <li class="nav-header">
                Your Cart2
              </li>
              <li>
              </li>
              <li class="">
                <a href="#">
                  <table cellpadding="2" cellspacing="0" style="font-size: 13px; color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: dotted; border-top-color: rgb(85, 153, 85); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(85, 153, 85); margin-bottom: 10px; font-family: 'Times New Roman'; line-height: normal; background-color: rgb(198, 198, 198);">
                    <tbody>
                      <tr>
                        <td>
                          2×
                        </td>
                        <td>
                          Buck 65 - Vertex
                        </td>
                        <td class="item-price" style="text-align: right;">
                          $25.90
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <div style="text-align: right;">
                    <table cellpadding="2" cellspacing="0" style="color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: dotted; border-top-color: rgb(85, 153, 85); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(85, 153, 85); margin-bottom: 10px; font-family: 'Times New Roman'; line-height: normal; background-color: rgb(198, 198, 198);">
                      <tbody>
                        <tr id="current_item" style="background-image: none; background-color: rgba(0, 0, 0, 0);">
                          <td>
                            1×
                          </td>
                          <td>
                            Cryptonomicon
                          </td>
                          <td class="item-price">
                            $9.45
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <table cellpadding="2" cellspacing="0" style="font-size: 13px; color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: dotted; border-top-color: rgb(85, 153, 85); border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: rgb(85, 153, 85); margin-bottom: 10px; font-family: 'Times New Roman'; line-height: normal; background-color: rgb(198, 198, 198);">
                    <tbody>
                      <tr class="total-line" style="text-align: right;">
                        <td colspan="2">
                          Total
                        </td>
                        <td class="total-cell" style="font-weight: bold; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(85, 153, 85);">
                          $35.35
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </a>
              </li>
              <a class="btn" href="#">
                Checkout
              </a>
            </ul>
          </div>
        </div>

        </div>
        <div class="span2">



        </div>

      </div>

    </div>
