    <div class="container-fluid">
      <div class="row">
        <div class="span10">
<p id="notice"><%= notice %></p>

<h2>shopping Cart</h2>
<table>

<%= render @cart %>

</table>
</div>
</div>
</div>